<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>443590986164-unrn80pvg8dthgkk61913g2utdbac1bu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.443590986164-unrn80pvg8dthgkk61913g2utdbac1bu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>443590986164-13ocvl90256bogl1cm44qbqo7g84953f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCuCds8uGM60KaFD2Z1c8CxRTNlOjIvBfk</string>
	<key>GCM_SENDER_ID</key>
	<string>443590986164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zimokk.thereandback</string>
	<key>PROJECT_ID</key>
	<string>thereandgetback</string>
	<key>STORAGE_BUCKET</key>
	<string>thereandgetback.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:443590986164:ios:8d61d9d67922181ea68ae1</string>
</dict>
</plist>
